body {
  background: transparent;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  position: relative;
  width: 400px;
  height: 400px;
}

#pointer {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: white;
  z-index: 10;
}
